<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to your profile</title>
</head>
<body>
<h1>Welcome back</h1>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Name</th>
        <th>Family</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text = "${user.name}"></td>
        <td th:text = "${user.family}"></td>
        <td th:text = "${user.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>